<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcation Chart</title>

</head>

<body>
    <div class="container">
        <tr>
            <th><b>id</th></b>
            <th><b>date_t</th></b>
            <th><b>amount_t</th></b>
            <th><b>category_t</th></b>
            <th><b>description_t</th></b>
        </tr>
        {% for t in b %}
        <td>{{t.id}}</td>
        <td>{{t.date_t}}</td>
        <td>{{t.amount_t}}</td>
        <td>{{t.category_t}}</td>
        <td>{{t.description_t}}</td>
        </tr>
        {% endfor %}
    </div>
</body>

</html>